body {
    background-color: #EEE !important;
}
.search-item-selected {
    color: #555 !important;
    text-decoration: none !important;
    background-color: #f5f5f5 !important;
}
.borderless {
    border-radius: 0 !important;
}
.search-results-container {
    z-index: 99999;
    position: relative;
}
.search-results {
    position: absolute;
    width: 100%;
}